
<div class="o-typography-wrapper">

	<p>
		This is a <span class="o-label">Standard Label</span> sat within a paragraph.
	</p>

	<p>
		This is a <span class="o-label o-label--big">Big Label</span> sat within a paragraph.
	</p>

	<p>
		This is a <span class="o-label o-label--small">Small Label</span> sat within a paragraph.
	</p>

</div>
