
<div class="o-typography-wrapper">

	<p>
		This is a <span class="o-labels">Standard Label</span> sat within a paragraph.
	</p>

	<p>
		This is a <span class="o-labels o-labels--big">Big Label</span> sat within a paragraph.
	</p>

</div>
