<span class="o-labels label-large">Label</span>
<span class="o-labels label-large o-labels--active">Active</span>
<span class="o-labels label-large o-labels--error">Error</span>
<span class="o-labels label-large o-labels--pending">Pending</span>
<span class="o-labels label-large o-labels--live">Live</span>
<span class="o-labels label-large o-labels--closed">Closed</span>
<span class="o-labels label-large o-labels--premium">Premium</span>
<span class="o-labels label-large o-labels--brand">Brand</span>
